<div class="container-fluid  m-auto mt-2 " >
  <div class="row d-flex justify-content-center">
    <div class="col-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Head</th>
          <th>Body</th>
          <th>First Choose(a)</th>
          <th>second Choose(b)</th>
          <th>third Choose(c)</th>
          <th>Fourth Choose(d)</th>
          <th>Right answer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of QuestionsList ; trackBy:trackby">
          <tr>
            <td>{{question.head}}</td>
            <td>{{question.body}}</td>
            <td>{{question.a}}</td>
            <td>{{question.b}}</td>
            <td>{{question.c}}</td>
            <td>{{question.d}}</td>
            <td>{{question.correctAns}}</td>
            <td><a [routerLink]="['/question',question.id,'edit']" class="btn d-inline"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square text-success" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></a>
                <a (click)="delete(question.id)" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-danger" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
                </a>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>
    <button [routerLink]="['/question',0,'edit']" class="btn btn-primary">Add Question </button>
    </div>
  </div>
</div>
