<footer class="footer mt-5">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
  <!--headin5_amrc-->
  <p class="mb10">If you have any questions, comments, or feedback about our website or services, we want to hear from you</p>
  <p><i class="fa fa-location-arrow"></i>Elbaday Street, Mansoura</p>
  <p><i class="fa fa-phone"></i>  +201009256909  </p>
  <p><i class="fa fa fa-envelope"></i> amr.elmenbawy@yahoo.com  </p>


  </div>


  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a >Search</a></li>
  <li><a [routerLink]="['register']" >Register Now</a></li>
  <li><a >Terms</a></li>
  <li><a >Policy</a></li>
  <li><a [routerLink]="['contact']">Feedbacks</a></li>
  <li><a >User Agreement</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a >Services</a></li>
  <li><a >Blog</a></li>
  <li><a >Advice</a></li>
  <li><a >Advertise with us</a></li>
  <li><a >Post Requirements</a></li>
  <li><a >Career </a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
  <!--headin5_amrc ends here-->

  <ul class="footer_ul2_amrc">
  <li><a ><i class="bi bi-twitter   text-light fa-2 fleft padding-right"></i> </a><p>Twitter<a ></a></p></li>
  <li><a ><i class="bi bi-facebook  text-light fa-2 fleft padding-right"></i> </a><p>Facebook<a ></a></p></li>
  <li><a ><i class="bi bi-instagram text-light fa-2 fleft padding-right"></i> </a><p>Instagram<a ></a></p></li>
  <li><a ><i class="bi bi-linkedin  text-light fa-2 fleft padding-right"></i> </a><p>linkedin<a ></a></p></li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>


  <div class="container">
  <ul class="foote_bottom_ul_amrc">
  <li><a [routerLink]="['home']" >Home</a></li>
  <li><a [routerLink]="['about']" >About</a></li>
  <li><a [routerLink]="['contact']">Help</a></li>
  <li><a [routerLink]="['contact']">Contact</a></li>
  </ul>
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2023 | Designed With by <a >Amr Elmenbawy</a></p>
  </div>

  </footer>

