<div class="container mt-3 mb-3">
  <div class="row " >
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2 d-flex justify-content-center">
  <div class="card" style="width: 18rem; ">
    <div class="card d-block">
      <img class="card-img-top" src="assets/img/1.PNG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">OOP Exam</h5>
        <!-- <p class="card-text"><small class="text-muted">${{ product.productprice}}</small></p>
        <p class="card-text">In Stock:{{product.productquantity}}</p> -->
      </div>
      <div class="card-footer" style="width: 18rem;">
        <a [routerLink]="['/Questions']" class="btn btn-primary">Start Exam</a>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>
